.App {
  text-align: center;
}

.map {
margin-top: 30px;
margin-left: 30px;
margin-right: 30px;
  height: 300px;
  border-radius: 20px;
}

.headers {
  font-weight: bold;
  color: black;

}
.header:hover {
cursor: pointer;
opacity: 1.9;

}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
}

.header-text {
  text-align: center;
  margin-top: 20px;
}

.tekst {

  font-size: 80px;
}

.services {

  font-size: 20px;
}
.header1 {
  font-size: 25px;
}

body {
  background-color:rgb(255, 255, 255);
}
.contact {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.contact1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.contact2 {
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.col1 {

  margin-left: 10%;
  
}
.card{
  overflow: hidden;
  border-radius: 20px;
  height: 500px;
  width: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.9;
  
}
.card:hover{
  transform: scale(0.9);
  
}
.card-img-top {
  height: 200px;
  transform: scale(1);
  transition: transform 0.7s ease;

}

.phone {
  color: rgb(50, 157, 50);
}
.email {
  color: rgb(198, 35, 35);
}
 .card-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  
 }
 .card-text {
  margin-top: 4%;
  text-align: left;
  margin-left: 10%;
  font-weight: bold;

 }




.accordion-button:not(.collapsed) {
  background-color: #000000; /* Green background when expanded */
  color: rgb(255, 255, 255);
  border: none;
  font-weight: bold;
}
  .accordion-button{
    background-color: #ffffff; /* Green background when expanded */
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
}
.accordion-header {
  

  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}
.accordion-body {
  color: black;
  background-color: #ffffff; /* Light gray background */

  color: #000000; /* Dark text */
  font-size: 16px; /* Slightly smaller font for the body text */
 
}
