.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  opacity: 0.8;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
}

.tekst {
  font-size: 4rem;
}

.tekst2 {
  font-size: 2.5rem;
}

.tekst3 {
  font-size: 1rem;
}


@media (max-width: 1200px) {
  .tekst {
    font-size: 3.5rem;
  }

  .tekst2 {
    font-size: 2.2rem;
  }

  .tekst3 {
    font-size: 1.1rem;
  }
}


@media (max-width: 992px) {
  .tekst {
    font-size: 3rem;
  }

  .tekst2 {
    font-size: 2rem;
  }

  .tekst3 {
    font-size: 1.2rem;
  }
}


@media (max-width: 768px) {
  .tekst {
    font-size: 2.5rem;
  }

  .tekst2 {
    font-size: 1.8rem;
  }

  .tekst3 {
    font-size: 1.3rem;
  }
}


@media (max-width: 576px) {
  .tekst {
    font-size: 2rem;
  }

  .tekst2 {
    font-size: 1.5rem;
  }

  .tekst3 {
    font-size: 1.1rem;
  }
}
